body{
    padding: 0;
    margin: 0;
    background-color: rgb(251, 245, 245);
    overflow:   scroll;
}

::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* scrollbar trasparente */
}
*{                  /* css rule per il cursore*/         
    cursor: none;
}
.cursor{
    position: fixed;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%;
    mix-blend-mode: difference;
    background-color: 
  white;
    z-index: 10000;
    border: 2px solid 
  white;
    height: 20px;
    width: 20px;
    transition: all 1ms ease-in;
}
.logo{
    width: 30%;
    height: auto;
    position: absolute;
    display: block;
    top: 7%;
    left: 2%;
}
h4{
    position: absolute;
    top: 18%;
    left: 2%;
    text-align: left;
    justify-content: center;
    font-family: 'Maven Pro', sans-serif;
    font-size: 100%;
    color: white;
}
#dw{
    position: absolute;
    top: 30%;
    left: 75%;
    padding: 0, 15px 0;
    transition: transform.2s;
    display: inline-flex;
    justify-content: space-between;
    margin-left:0;
    text-decoration: none;
    color: white;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 400%;
}
#dw:hover{
    transform: scaleX(1.1);
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 22px rgb(0, 255, 247),
    0 0 22px rgb(0, 255, 247),
    0 0 32px rgba(0, 255, 247, 0),
    0 0 32px rgba(0, 255, 247, 0),
    0 0 32px rgba(0, 255, 247, 0);
}

#sh{
    position: absolute;
    top: 55%;
    left: 75%;
    padding: 0, 15px 0;
    transition: transform.2s;
    display: inline-flex;
    text-align: right;
    justify-content: left;
    margin-left:0;
    text-decoration: none;
    color: white;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 400%;
}
#sh:hover{
    transform: scaleX(1.1);
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 22px rgb(0, 255, 247),
    0 0 22px rgb(0, 255, 247),
    0 0 32px rgba(0, 255, 247, 0),
    0 0 32px rgba(0, 255, 247, 0),
    0 0 32px rgba(0, 255, 247, 0);
}
#yt{                                                 /* menù basso*/ 
    position: absolute;
    top: 97%;
    right: 95%;
    padding: 0, 15px 0;
    transition: transform.2s;
    display: inline-flex;
    justify-content: space-between;
    margin-left:0;
    text-decoration: none;
    color: white;
    font-family: 'Maven Pro', sans-serif;
    font-size: 60%;
}
#yt:hover{
    transform: scale(1.1);
}
#ig{
    position: absolute;
    top: 97%;
    right: 87%;
    transition: transform.2s;
    display: inline-flex;
    justify-content: space-between;
    margin-left:0;
    text-decoration: none;
    color: white;
    font-family: 'Maven Pro', sans-serif;
    font-size: 60%;
}
#ig:hover{
    transform: scale(1.1);
}
#st{
    position: absolute;
    top: 97%;
    right: 79%;
    transition: transform.2s;
    display: inline-flex;
    justify-content: space-between;
    margin-left:0;
    text-decoration: none;
    color: white;
    font-family: 'Maven Pro', sans-serif;
    font-size: 60%;
}
#am{                                           /* vai sotto*/ 
    position: absolute;
    top: 95%;
    left: 48%;
    padding: 0, 15px 0;
    transition: transform.2s;
    display: inline-flex;
    justify-content: space-between;
    text-align: center;
    margin-left:0;
    text-decoration: none;
    color: white;
    font-family: 'Maven Pro', sans-serif;
    font-size: 80%;
}
#am:hover{
    transform: scale(1.2);
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(0, 255, 247),
    0 0 82px rgb(0, 255, 247),
    0 0 92px rgb(0, 255, 247),
    0 0 102px rgb(0, 255, 247),
    0 0 151px rgb(0, 255, 247);
}
#gu{                                                 /*vai sopra*/       
    position: absolute;
    top: 2%;
    left: 48%;
    padding: 0, 15px 0;
    transition: transform.2s;
    display: inline-flex;
    justify-content: space-between;
    text-align: center;
    margin-left:0;
    text-decoration: none;
    color: white;
    font-family: 'Maven Pro', sans-serif;
    font-size: 80%;
}
#gu:hover{
    transform: scale(1.2);
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(0, 255, 247),
    0 0 82px rgb(0, 255, 247),
    0 0 92px rgb(0, 255, 247),
    0 0 102px rgb(0, 255, 247),
    0 0 151px rgb(0, 255, 247);
}
#st:hover{
    transform: scale(1.1);
}
.slider{
    position: absolute;
    width: 100%;
    top:100%;
    left: auto;
} 
/*.slider{
    position: absolute;
    width: 40%;
    top:30%;
    left: auto;
    margin-left: 29%;
} */
canvas{
    position: absolute;
    width: 100%;
    height: 100%;
}