body {
    margin: 0;
    padding: 0;
    background-color: black;
}
.logo{
    width: 5%;
    height: auto;
    position: absolute;
    display: block;
    top: auto;
    left: auto;
    margin-top: 1%;
    margin-left: 2%;
}
.image-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: scroll;
}

.image-grid img {
    width: 50%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

